<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Video.js Sandbox</title>

  <!-- Add ES5 shim and sham for IE8 -->
  <script src="../dist/ie8/videojs-ie8.js"></script>

  <!-- Load the source files -->
  <link href="../build/temp/video-js.css" rel="stylesheet" type="text/css">
  <script src="../dist/video.js"></script>
  <script src="../node_modules/videojs-flash/dist/videojs-flash.js"></script>

  <!-- Set the location of the flash SWF -->
  <script>
    videojs.options.flash.swf = '../node_modules/videojs-flash/node_modules/videojs-swf/dist/video-js.swf';
  </script>

</head>
<body>
  <div style="background-color:#eee; border: 1px solid #777; padding: 10px; margin-bottom: 20px; font-size: .8em; line-height: 1.5em; font-family: Verdana, sans-serif;">
    <p>You can use /sandbox/ for writing and testing your own code. Nothing in /sandbox/ will get checked into the repo, except files that end in .example (so don't edit or add those files). To get started make a copy of index.html.example and rename it to index.html.</p>
    <pre>cp sandbox/index.html.example sandbox/index.html</pre>
    <pre>npm run start</pre>
    <pre>open http://localhost:9999/sandbox/index.html</pre>
  </div>

  <video id="vid1" class="video-js vjs-default-skin" controls preload="auto" width="640" height="264"
      poster="http://vjs.zencdn.net/v/oceans.png"
      data-setup='{}'>
    <source src="http://113.96.154.150/vlive.qqvideo.tc.qq.com/AivViJRK79ynRjFKmMvBv6DIFxM1Bq-ImO8Q0gKhMWy0/o0024hq5202.p212.3.mp4?sdtfrom=v1010&guid=860621fa7255cedb379d01fe3c5d0706&vkey=73D2C022CA2F9C4D35605F86AD0D99202269FE26135187DC3771191A33A0705FB65979844AF5AB24736C3DC5B00BB92E3D127E9925EDCCD8EB28023A1CDAFC243ECCD4E25A116D45855BE762F40B21402E958DE8555B68BEECAE1146CD2FBC1E8D31CAB57C23B4419422BD466DFFA39CB8BE61CAD0FB5771&locid=39f45a7b-3738-4750-9fa4-aa57bd4309d9&size=24167652&ocid=2487621804#t=256" type="video/mp4">
    <track kind="captions" src="../docs/examples/shared/example-captions.vtt" srclang="en" label="English"></track><!-- Tracks need an ending tag thanks to IE9 -->
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

  <script>
    var vid = document.getElementById("vid1");
    var player = videojs(vid);

  </script>

</body>
</html>
